:root {
    --backColor: #008080;
    --backColorButton: #C8C8C8;
}

@font-face {
    font-family: 'W95';
    src: url(../font/W95FA/w95fa.woff);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backColor);
    color: #000;
    overflow: hidden;
    font-family: 'W95', serif;
}

.elt{
    margin-left: 1%;
    padding-top: 2%;
}

.computer-icon, .folder-icon, .been-icon {
    margin-left: 2%;
    width: 2.5%;
    height: 2.5%;
}

.computer-text, .folder-text, .been-text{
    color: #fff;
    font-size: 85%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: 0.3%;
}

.computer-icon:hover, .folder-icon:hover{
    background-color: #A9A9A9;
}

/*#clippy {
    display: flex;
    justify-content: end;
    bottom: 0;
}

#clippy img {
    height: 10%;
    width: 10%;
}*/

.title.p {
    padding: 0%;
    margin: 0%;
}

.imgTitle {
    margin-right: 15%;
}

.title-text{
    font-weight: bolder;
}

.exempleDemineur, .exemplePong, .exempleGraph{
    height: 60%;
    width: 60%;
}

.logoContact{
    height: 10%;
    width: 10%;
}

.alignLogo{
    display: flex;
    justify-content: left;
    align-items: center;
}

#pressButton {
    margin-left: 3.5%;
}

.lienDiscord{
    text-decoration: none;
    padding-left: 3%;
    color: blue;
}

.footer {
    display: flex;
    justify-content: space-between; /* Sépare les boutons de gauche et l'heure à droite */
    align-items: center;
    background-color: #c0c0c0;
    border-top: 2px solid #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5%;
    align-items: center;
}

.start-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-color: #000;
}

.start-button:active{
    background-color: #A9A9A9;
}

.start-icon {
    width: 20px;
    height: 20px;
    background-color: #C8C8C8;
    margin-bottom: 10px;
    margin-right: 15px;
}

.start-text {
    font-weight: bold;
    color: #000;
    font-size: 110%;
}

.footeronglet{
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-color: #000;
    margin-left: 4%;
    display: none;
}

.footer-clock {
    min-width: 1%;
    padding-right: 1%;
    text-align: center;
}

.footer-text{
    font-weight: bold;
    color: #000;
    margin: 0;
    font-size: 105%;
}

.taskbar {
    display: flex;
    gap: 5px;
}
